{% extends 'base_twigs/base.twig' %}
{% block bodycontent %}
    {% include 'base_twigs/header.twig' %}
    <main>
        <div class="container
        {% if meta.wrapclass %} {{ meta.wrapclass}}
        {% endif %}
        ">
            {{ content }}
        </div>
    </main>
    {% include 'base_twigs/footer.twig' %}
{% endblock %}
