// analysis list page styling
// analysis main element
.grid-main-analysis {
    grid-template-rows: 0.3fr 1fr;
}

.grid-main-analysis .report-box-list {
    grid-template-rows: 1fr;
}

// shift to one hexagon/row right away, to avoid different number of hexagons
// on rows
@media only screen and (max-width: $hexagon-side-length * 2.4 * 3 + $hexagon-side-length * 0.5) {
    .grid-main-analysis {
        grid-template-rows: 0.3fr 3fr;
    }

    .grid-main-analysis .report-box-list {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
}

// analysis detail page styling
.grid-main-analysis-detail img {
    max-width: 85%;
    display: block;
    margin: 2rem 0;
}

.color-bar-list {
    display: block;
    text-align: center;
    margin: 0.3rem 0 2rem;
    padding: 0.3rem 1rem;
    border-radius: $m-border-radius;
    border-style: dashed;
    border-color: #ddd;
    background-color: #eee;
}

.color-bar {
    display: inline-block;
    margin: 0 0.4rem;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.grid-main-analysis-detail .content-wrapper p,
.grid-main-analysis-detail .content-wrapper li {
    font-size: 1.25rem;
}

// analysis sidebar element
.analysis-detail-root .sidebar > .report-box-list {
    grid-template-rows: auto auto auto;
}
