// Theme-specific Base CSS file for element defaults
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: $line-height;
}

body {
    height: 100%;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: $h1-font-size;
    text-align: center;
    margin-bottom: 3.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, Helvetica, sans-serif;
    color: $h-element-color;
    font-weight: 400;
}

h2 {
    margin-top: 1.3em;
    font-size: $h1-font-size * 0.8;
}

h3 {
    margin-top: 0.4em;
    font-size: $h1-font-size * 0.6;
}

h4 {
    margin-top: 0.3em;
    font-size: $h1-font-size * 0.55;
}

p {
    color: $neutral-text-color;
    font-size: $p-font-size;
    margin-bottom: $line-height * $p-font-size;
    margin-top: $line-height * $p-font-size / 3;
}

blockquote {
    @extend %sub-content-border;
    margin-left: 1em;
    padding: 1em;
    color: $neutral-text-color;
    font-size: $p-font-size;
    margin-bottom: $line-height * $p-font-size;
    margin-top: $line-height * $p-font-size / 3;
    font-size: 1rem;
}

q {
    font-style: italic;
}

a {
    color: $neutral-link-color;
    text-decoration: none;
}

a:visited {
    color: $visited-link-color;
}

a:hover,
a:active {
    color: $active-link-color;
}

ul {
    list-style-type: none;
}

ol {
    list-style-position: inside;
}

ul,
ol {
    margin-bottom: $line-height * $p-font-size;
    margin-top: $line-height * $p-font-size / 3;
}

ul li,
ol li {
    margin: 0.3em 0;
}

li {
    font-size: $p-font-size;
    color: $neutral-text-color;
}

main {
    display: flex;
    flex: 1 0 auto;
    padding: 2em;
    justify-content: center;
    min-height: 80vh;
}

img, embed, object, video {
    max-width: 100%;
}

@media (max-width: 500px) {
    h1 {
        font-size: $h1-font-size / 1.2;
    }
    h2 {
        font-size: $h1-font-size * 0.8 / 1.2;
    }
}
