// Code blocks module
.code-block {
    border-radius: $m-border-radius;
    background-color: #000;
    width: 100%;
    padding: 0.3rem 1rem;
    overflow: auto;
}

.code-block > pre {
    overflow: auto;
}

.code-block > pre > code {
    color: #fff;
    width: 80%;
    overflow: auto;
}

.code-comment {
    color: $alt-alt-color;
}
