// darken the theme colors
$s-lightness-decrease: -10%;
$m-lightness-decrease: -30%;
$l-lightness-decrease: -50%;
$xl-lightness-decrease: -70%;
$xxl-lightness-decrease: -80%;

$s-lightness-increase: 10%;
$m-lightness-increase: 30%;
$l-lightness-increase: 50%;
$xl-lightness-increase: 70%;

// base
// increasing lightness of second alt color, since it's used for making
// smaller components pop out
$alt-alt-color: scale-color($alt-alt-color, $lightness: 20%);
// $alt-alt-color: scale-color($alt-alt-color, $lightness: $s-lightness-decrease);
$base-color: scale-color($base-color, $lightness: $m-lightness-decrease);
$pattern-color: '%2340acb4'; // color for header/footer repeating pattern
$alt-color: scale-color($alt-color, $lightness: $s-lightness-increase);
// $alt-alt-color: scale-color($alt-alt-color, $lightness: $base-lightness-decrease);
$background-color: scale-color($background-color, $lightness: $xxl-lightness-decrease);
$middleground-color: scale-color($middleground-color, $lightness: $xl-lightness-decrease);

// link text, inline text
$neutral-text-color: #eee;
$neutral-link-color: scale-color($neutral-link-color, $lightness: $l-lightness-increase);
$visited-link-color: scale-color($visited-link-color, $lightness: $l-lightness-increase);
$active-link-color: scale-color($neutral-link-color, $lightness: $xl-lightness-increase);
$h-element-color: scale-color($h-element-color, $lightness: $m-lightness-increase);

// gradients
// top value, to increase base color by
$gradient-top: 5%;
// bottom value, to decrease base color by
$gradient-bottom: -5%;

// layout
$header-link-color: #fffaf3;
$header-active-color: $alt-color;
$footer-text-color: #fff;

// modules
$hexagon-bright-color: scale-color($hexagon-bright-color, $lightness: -20%);
$hexagon-dark-color: scale-color($hexagon-dark-color, $lightness: -20%);
// how much to change lightness of alt-alt-color by for kmom
// narrow screen gradient
$kmom-alt-gradient-shift: -60%;

// brightness/contrast values for images that are to shift
// between light/dark mode
$img-brightness: 0.8;
$img-contrast: 1.2;
