.grid-main-gallery {
    grid-template-rows: 1fr;
}

.gallery-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.gallery-list-item > a > picture > img {
    border-radius: $m-border-radius;
    filter: grayscale(100%) brightness($img-brightness) contrast($img-contrast);
    transition: 0.8s ease-in-out;
}

.gallery-list-item > a > picture > img:hover {
    filter: grayscale(0) brightness($img-brightness) contrast($img-contrast);
}

.gallery-video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.gallery-video-container > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 900px) {
    // .gallery-list {
    //     grid-template-columns: repeat(2, 1fr);
    // }
    .gallery-list-item > picture > img {
        filter: brightness($img-brightness) contrast($img-contrast);
    }
}

@media only screen and (max-width: 700px) {
    .gallery-list {
        grid-template-columns: 1fr;
    }
}
