// kmom root (direct and single descendant of body element)
.kmom-root {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    'header header header'
    'aside main main'
    'footer footer footer';
    grid-gap: 2rem;
}

// kmom main element
.grid-main-kmom {
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 0;
}

.grid-main-kmom > .content-wrapper {
    @extend %content-border;
    background-color: $middleground-color;
    padding: 2em;
    margin-right: 2rem;
}

// sidebar, filling up one column of 'main row'
.sidebar {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-area: aside;
    border-radius: $m-border-radius;
    background-image: linear-gradient(scale-color($base-color, $lightness: $gradient-top),
scale-color($base-color, $lightness: $gradient-bottom));
    border-width: 5px;
    border-style: none solid solid;
    border-image: linear-gradient(to top, #555, rgba(0, 0, 0, 0)) 1 20%;
    margin-left: 2rem;
}

.sidebar > .report-box-list {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    grid-gap: 0.2rem;
}

.sidebar .report-box > .report-box-inner {
    margin: 0;
    z-index: 1;
}

.sidebar .report-box-inner > p {
    font-size: 1.5rem;
    color: $hexagon-bright-color;
}

@media only screen and (max-width: 900px) {
    .sidebar .report-box-inner > p {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 700px) {
    .sidebar {
        display: none;
    }

    .kmom-root {
        grid-template-areas:
        'header header header'
        'main main main'
        'footer footer footer';
        grid-gap: 0;
    }

    .grid-main-kmom > .content-wrapper {
        margin-right: 0;
        border: 0;
        box-shadow: none;
        background-image: linear-gradient($middleground-color,
    scale-color($alt-alt-color, $lightness: $kmom-alt-gradient-shift,
    $saturation: -50%));
    }
}
