$small-hexagon-side-length: 60px;
$small-hexagon-border-width: 2px;

// kmom root (direct and single descendant of body element)
.kmom-root {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    'header header header'
    'aside main main'
    'footer footer footer';
    grid-gap: 2rem;
}

// kmom main element
.grid-main-kmom {
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 0;
}

.grid-main-kmom > .content-wrapper {
    @extend %content-border;
    background-color: $middleground-color;
    padding: 2em;
    margin-right: 2rem;
}

// sidebar, filling up one column of 'main row'
.sidebar {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-area: aside;
    border-radius: $m-border-radius;
    background-image: linear-gradient(scale-color($base-color, $lightness: $gradient-top),
scale-color($base-color, $lightness: $gradient-bottom));
    // background-color: scale-color($base-color, $lightness: 20%);
    border-width: 5px;
    border-style: none solid solid;
    border-image: linear-gradient(to top, #555, rgba(0, 0, 0, 0)) 1 20%;
    margin-left: 2rem;
}

.sidebar > .report-box-list {
    margin: 10px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    align-content: space-around;
    justify-content: space-between;
    grid-gap: 0.2rem;
}

.sidebar .report-box > .report-box-inner {
    margin: 0;
    z-index: 1;
}

.sidebar .report-box-inner > p {
    font-size: 1.5rem;
}

/* hexagon based on https://stackoverflow.com/questions/19418486/hexagon-shape-with-a-border-outline
and https://css-tricks.com/snippets/css/hexagon-with-shadow/ */
.small-hexagon {
    position: relative;
    height: $small-hexagon-side-length * 2.414;
    width: $small-hexagon-side-length * 2.414;
    background: $base-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.small-hexagon::before,
.small-double::after {
    position: absolute;
    content: '';
}

.small-hexagon::before {
    top: $small-hexagon-border-width;  /* border width */
    left: $small-hexagon-border-width;  /* border width */
    height: calc(100% - #{$small-hexagon-border-width * 2});  /* 100% - (2 * border width) */
    width: calc(100% - #{$small-hexagon-border-width * 2});  /* 100% - (2 * border width) */
    background: #fff;
}

a:active .small-hexagon::before,
a:hover .small-hexagon::before {
    background: $header-active-color;
}

.small-hexagon,
.small-hexagon::before,
.small-double::after {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.small-double::after {
    top: 8px;
    left: 8px;
    height: calc(100% - 16px);
    width: calc(100% - 16px);
    background: $base-color;
}

// resizing hexagons, based on screen width
@media only screen and (max-width: 900px) {
    .small-hexagon {
        position: relative;
        height: $small-hexagon-side-length * 2.1;
        width: $small-hexagon-side-length * 2.1;
        background: $base-color;
        color: #fff;
    }

    .sidebar .report-box-inner > p {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 700px) {
    .sidebar {
        display: none;
    }

    .kmom-root {
        grid-template-areas:
        'header header header'
        'main main main'
        'footer footer footer';
        grid-gap: 0;
    }

    .grid-main-kmom > .content-wrapper {
        margin-right: 0;
        border: 0;
        box-shadow: none;
        background-image: linear-gradient($middleground-color,
    scale-color($background-color, $lightness: -1%));
    }
}
