// report main element
.grid-main-report {
    grid-template-rows: 0.3fr 2fr 1.5fr;
}

// report box
.report-box-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.2rem;
}

.report-box-li {
    display: grid;
    justify-content: center;
}

.report-box-li > a:hover,
.report-box-li > a:active {
    @extend %wrap-midheavy-shadow;
}

.report-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.report-box > .report-box-inner {
    margin: $hexagon-side-length * 0.5 $hexagon-border-width * 4;
    z-index: 1;
}

.report-box-inner > h2 {
    color: $alt-alt-color;
    margin: 0.3em 0 0.2em;
    text-shadow: 2px 2px 0px #000;
}

.report-box-inner > p {
    color: $hexagon-bright-color;
    margin: 0;
}

a:hover > .report-box > .report-box-inner > p,
a:active > .report-box > .report-box-inner > p {
    color: $header-active-color;
}

.report-box-inner > img {
    height: auto;
    width: $hexagon-side-length;
}

// specifications/modifications for the report-project hexagon
.report-project {
    display: grid;
    justify-content: center;
}

.report-project > a > .report-box > .report-box-inner > h2 {
    font-size: 2em;
}

.report-project > a > .hexagon {
    height: $hexagon-side-length * 2.414 * 2;
    width: $hexagon-side-length * 2.414 * 2;
}

.report-project > a > .report-box > .report-box-inner {
    margin: $hexagon-side-length * 0.5 * 2 $hexagon-border-width * 4 * 2;
}

.report-project > a > .report-box > .report-box-inner > img {
    width: $hexagon-side-length * 2;
}

.report-project > a:hover,
.report-project > a:active {
    @extend %wrap-l-midheavy-shadow;
}

// rearranging/resizing hexagons and main element, based on screen width
// shift to two hexagons/row
@media only screen and (max-width: $hexagon-side-length * 2.4 * 3 + $hexagon-side-length * 0.5) {
    .report-box-list {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .grid-main-report {
        grid-template-rows: 0.3fr 3fr 1.5fr;
    }
}

// shift to one hexagon/row
@media only screen and (max-width: $hexagon-side-length * 2.4 * 2 + $hexagon-side-length * 0.5) {
    .report-box-list {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid-main-report {
        grid-template-rows: 0.3fr 6fr 1.5fr;
    }
}

@media only screen and (max-width: $hexagon-side-length * 2.414 * 2 + $hexagon-side-length * 1) {
    .report-project > a > .hexagon {
        height: $hexagon-side-length * 2.414 * 1.4;
        width: $hexagon-side-length * 2.414 * 1.4;
    }

    .report-project > a > .report-box > .report-box-inner {
        margin: $hexagon-side-length * 0.5 * 1.4 $hexagon-border-width * 4 * 2;
    }

    .report-project > a > .report-box > .report-box-inner > img {
        width: $hexagon-side-length * 1.4;
    }
}

@media only screen and (max-width: $hexagon-side-length * 2.414 * 1.4 + $hexagon-side-length * 1) {
    .report-project > a > .hexagon {
        height: $hexagon-side-length * 2.414 * 1.2;
        width: $hexagon-side-length * 2.414 * 1.2;
    }

    .report-project > a > .report-box > .report-box-inner {
        margin: $hexagon-side-length * 0.5 * 1.2 $hexagon-border-width * 4 * 2;
    }

    .report-project > a:hover,
    .report-project > a:active {
        filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.4));
    }
}
