// Theme-specific variables

// base
$base-color: #14bf98; // dark mint-green-ish
$alt-color: #efef34; // yellow
$background-color: #fff; // grey, element in the far background (body usually)
$middleground-color: #fff; // white, element that holds content (eg article)
$neutral-text-color: #333; // greyish black
$neutral-link-color: #6b6; // darkish green
$visited-link-color: #4a4; // darker green
$active-link-color: $base-color;
$p-font-size: 1.25em;
$h1-font-size: 2.3 * $p-font-size;
$line-height: 1.4;

// layout/modules
$header-link-color: #fff; // white
$header-active-color: $alt-color; // yellow
$footer-text-color: #fff; // white
