// Theme-specific variables

// third, blue color that fits with the green/orangeish, might come in
// handy 086788
// fourth, vanilla-like fairly neutral color, maybe as alternative to all
// whites FFF1D0

// base
$base-color: #14bf98; // dark mint-green-ish
$alt-color: #f0c808; // orangeish yellow
$alt-alt-color: #086788; // blue sapphire
$background-color: #fffcf8; // grey, element in the far background (body usually)
$middleground-color: #fff; // white, element that holds content (eg article)

// link text, inline text
$neutral-text-color: #333; // greyish black
$neutral-link-color: #6b6; // darkish green
$visited-link-color: #4a4; // darker green
$active-link-color: $base-color;
$h-element-color: $base-color;

// text blocks
$p-font-size: 1.25em;
$h1-font-size: 2.3 * $p-font-size;
$line-height: 1.4;

// borders
$m-border-radius: 10px;

// layout/modules
$header-link-color: #fffaf3; // white
$header-active-color: $alt-color; // yellow
$footer-text-color: #fff; // white

// gradients
// top value, to increase base color by
$gradient-top: 10%;
// bottom value, to decrease base color by
$gradient-bottom: -10%;
