// Theme-specific variables

// third, blue color that fits with the green/orangeish, might come in
// handy 086788
// fourth, vanilla-like fairly neutral color, maybe as alternative to all
// whites FFF1D0

// base
$base-color: #0b969e; // dark mint-green-ish
$pattern-color: '%2360ecf4'; // color for header/footer repeating pattern
$alt-color: #ebcd1c; // damp yellow
$alt-alt-color: #9e136b; // light purple/pinkish
// $alt-alt-color: #EB0596; // light purple/pinkish
$background-color: #fdfdfd; // slightly yellow, element in the far background (body usually)
$middleground-color: #fff; // white, element that holds content (eg article)

// link text, inline text
$neutral-text-color: #333; // greyish black
$neutral-link-color: scale-color(#1ce0eb, $lightness: -40%); // light mint
$visited-link-color: #0b969e; // dark mint-green-ish
$active-link-color: scale-color($neutral-link-color, $lightness: 10%);
$h-element-color: $base-color;

// text blocks
$p-font-size: 1.25em;
$h1-font-size: 2.3 * $p-font-size;
$line-height: 1.4;

// borders
$m-border-radius: 10px;

// gradients
// top value, to increase base color by
$gradient-top: 10%;
// bottom value, to decrease base color by
$gradient-bottom: -10%;

// layout
$header-link-color: #fffaf3; // white
$header-active-color: $alt-color; // yellow
$footer-text-color: #fff; // white

// modules
$hexagon-bright-color: #fff;
$hexagon-dark-color: #000;

// how much to change lightness of alt-alt-color by for kmom
// narrow screen gradient
$kmom-alt-gradient-shift: 90%;

// brightness/contrast values for images that are to shift
// between light/dark mode
$img-brightness: 1.0;
$img-contrast: 1.0;
